<div class="section-benefit">
  <div class="container">
    {# <div class="logo">
      <img src="./assets/images/logo.png" alt="">
    </div> #}
    <div class="flex-row relative items-center">
      <div class="content-left">
        <div class="img-wrapper">
          <img src="./assets/images/benefit-zip.png" alt="">
        </div>
      </div>
      <div class="content-right">
        <div class="content-wrapper">
          <div class="text-wrapper">
            <h2>ĐỘNG CƠ H<span style="text-transform: none;">i</span>-PER4</h2>
            <div class="list">
              <div class="item">
                Hi-PER4 Piaggio Zip 100 4T xy lanh đơn là động cơ bốn thì tiên tiến có hệ thống làm mát bằng gió bao gồm một thiết bị xử lý khí thải bằng chất xúc tác. Tất cả nhằm đem lại hiệu suất cao nhất khi tăng ga, đặc biệt là khi bạn có thêm bộ điều khiển tốc độ hiệu quả. Đơn giản chỉ cần nhấn ga và bạn đã sẵn sàng lướt nhẹ trên đường!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>