<div class="section section--banner">
  <div class="img-wrapper">
    <img src="./assets/images/banner-zip.jpg" alt="">
  </div>
  <div class="content-wrapper">
    <div class="content-text">
      <h2>BẢO DƯỠNG piaggio ZIP ĐỊNH KỲ</h2>
      <h3>CHO ĐƯỜNG DÀI KHÔNG CÒN TRỞ NGẠI</h3>
      <p>Hãy bắt đầu việc bảo dưỡng định kỳ chiếc Piaggio của bạn ngay hôm nay,
        và bạn không cần lo lắng về chi phí và các vấn đề bảo dưỡng
        với Piaggio Zip iGet thế hệ mới vì:</p>
    </div>
    {% include "./banner-tiles-no-iget.twig" %}
  </div>
</div>