<div class="section section--banner">
  <div class="img-wrapper">
    <img src="./assets/images/banner-Liberty-125cc-revised.png" alt="">
  </div>
  <div class="content-wrapper">
    <div class="content-text">
      <h2>BẢO DƯỠNG piaggio LIBERTY 125CC ĐỊNH KỲ</h2>
      <h3>CHO ĐƯỜNG DÀI KHÔNG CÒN TRỞ NGẠI</h3>
      <p>Hãy bắt đầu việc bảo dưỡng định kỳ chiếc Piaggio của bạn ngay hôm nay,
        và bạn không cần lo lắng về chi phí và các vấn đề bảo dưỡng
        với Piaggio Liberty 125cc iGet thế hệ mới vì:</p>
    </div>
    {% include "./banner-tiles.twig" %}
  </div>
</div>